@import url("https://fonts.googleapis.com/css2?family=Kdam+Thmor+Pro");


.App {
  text-align: center;
  font-family: "Kdam Thmor Pro";
  
  color: white;
  
}

.overlay {
  opacity: 0.85;
  width: 100%;
  height: 100%;
  z-index: 10;
  top: 0;
  left: 0;
  position: fixed;
}



.moving-background {
  z-index: -1;
  position: absolute;
  top: 0 ;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url("C:\Users\Othmane\Desktop\Staking-Dapp\dapp\src\assets\planet.gif");
  background-size: cover;
  background-position: 40%;
}


.NavBar {
  position: fixed;
  width: 1880px;
  height: 100px;
  background-color: black;
  border-radius: 5px;
}

.NavBar-left {
  position: fixed;
  width: 400px;
  top: 10px;
  
}
.NavBar-right {
  position: fixed;
  text-align: right;
  width: 200px;
  right: 30px;
  top: 30px;
  
}

.title-mintnow {
  text-shadow: 2px 2px black  ;
  position: fixed;
  top: 150px;
  left: 600px;
  
}

button {
  font-family: "Kdam Thmor Pro";
  background-color: #47EBE2;
  width: 200px;
  height: 35px;
  font-size:larger ;
  border-radius: 7px;
}

#plus-minus {
    font-family: "Kdam Thmor Pro";
    background-color: #47EBE2;
    width: 35px;
    height: 35px;
    font-size: larger;
    border-radius: 7px;
}

input[type="number"] {
  width: 30px;
  
}



.staking-canvas {
  position: fixed;
  bottom: 100px;
  left: 650px;
  opacity: 0.75;
  background-color: black;
  width: 500px ;
  height: 400px ;
}



.staking-button {
  position: fixed;
  width: 400px;
  height: 35px;
  bottom: 140px ;
  left: 700px;
}
